<div style="margin: 20px">

<div>
    텍스트, 문서, 웹 선택 버튼
</div>
<div>

</div>



<!-- 언어감지 및 번역 -->
<div style="display:flex; flex-direction: row">
    <div class="mb-3" style="width: 500px">
        <label for="exampleFormControlTextarea1" class="form-label">Origin Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3" style="width: 500px">
        <label for="exampleFormControlTextarea1" class="form-label">Translated Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>


<!-- 크롤링 -->


</div>